/* Homepage Styling */
#homepageBody {
    background-color: #262626;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header Styling */
#homepageHeader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D9D9D9;
    background-color: #351B59;
    padding: 15px 20px;
    margin: 0;
    width: 100%;
}

/* Menu Container Styling */
.menu-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* Hamburger Icon Styling */
.hamburger-menu {
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

/* Hamburger Bar Styling */
.bar {
    width: 30px;
    height: 4px;
    background-color: #D9D9D9;
    margin: 3px 0;
    transition: background-color 0.3s;
}

/* Account Menu Styling */
.account-menu {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
}

/* User Icon Styling */
.user-icon {
    cursor: pointer;
    font-size: 24px;
    color: #D9D9D9;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: background-color 0.3s;
}

/* Highlight User Icon on Click */
.account-menu.active .user-icon {
    background-color: #262626;
    border-radius: 50%;
}

/* Main Menu Styling (Hidden by Default) */
.menu {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: #333333;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 150px;
    text-align: left;
    box-sizing: border-box;
    display: none;
}

/* Menu Items Styling */
.menu li {
    padding: 0;
    border-bottom: 1px solid #333333;
}

.menu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.menu li a:hover {
    background-color: #444444;
}

/* Account Dropdown Menu Styling (Hidden by Default) */
.account-dropdown {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: #333333;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 150px;
    text-align: left;
    box-sizing: border-box;
    display: none;
}

/* Account Dropdown Items Styling */
.account-dropdown li {
    padding: 0;
    border-bottom: 1px solid #444444;
}

.account-dropdown li a {
    display: block;
    padding: 10px;
    color: #D9D9D9;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.account-dropdown li a:hover {
    background-color: #444444;
}

#headerImage {
    height: 100px; /* Set the height of the image */
    width: auto; /* Maintain aspect ratio */
    margin-right: 5%;
    align-self: center; /* Center image vertically */
}