.nav-header {
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #4B2E83; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.header-icons {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.profile:hover {
  text-decoration: underline;
}

.profile-icon {
  font-size: 1.5rem;
  margin-right: 8px;
}

.profile-name {
  font-size: 1.1rem;
}

.profile-picture {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}
=======
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #4B2E83;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .logo {
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  
  .nav-links a:hover {
    text-decoration: none;
    background-color: #6C429A; /* Darker purple on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  
  .profile:hover {
    text-decoration: none;
  }
  
  .profile-icon {
    font-size: 1.5rem;
    margin-right: 8px;
  }
  
  .profile-name {
    font-size: 1.1rem;
  }
  
/* Login button styling */
.login-btn {
  color: white;
  background-color: transparent; /* Transparent background initially */
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  margin-left: 10px;
  display: inline-block; /* Ensure the link is block-level to accept background */
  transition: background-color 0.3s, box-shadow 0.3s ease; /* Smooth transition */
}

.login-btn:hover {
  background-color: blue; /* Darker purple on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow on hover */
  border-radius: 10px;
}
>>>>>>> 37f3ec4bb8205aa2620159cc936c5785ff459581
