/* Login Page Styling */
.login-body {
    background-color: #262626;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    margin: 0;
    height: 100vh;
}

.login-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center; 
    color: #D9D9D9; 
    margin: 0; 
    background-color: #361b59;
    width: 100%;
}

.header-line {
    width: 400px; 
    height: 1px; 
    background-color: white; 
    margin: 10px auto; 
}

.sign-in-forms {
    font-family: Arial, Helvetica, sans-serif;
    color: #D9D9D9;
    background-color: #434242;
    text-align: center;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    margin-top: 75px; 
}

.sign-in-forms h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin: 0;
    padding: 15px;
    border-radius: 10px 10px 0 0; 
    margin-top: 15px;
}

.login-form-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.login-form-group {
    width: 100%;            
    text-align: left;      
    margin-bottom: 30px;   
}

.login-label {
    display: block;         
    margin-bottom: 5px;    
}

.login-input {
    width: 400px;            
    padding: 10px;         
    border-radius: 5px;   
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.login-input:focus {
    border-color: #361b59; 
    outline: none; 
}


.login-button {
    width: 420px; 
    padding: 10px;
    border-radius: 5px;
    border: none; 
    background-color: #361b59;
    color: #D9D9D9; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 15px;
}

.login-button:hover {
    background-color: #512a84; 
}

.create-account-link {
    color: #4A90E2; 
    text-decoration: none; 
    margin-top: 10px; 
    font-size: 14px;
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.create-account-link:hover{
    color: #262626;
}

.back-arrow {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    font-size: 30px; 
    color: #D9D9D9; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.back-arrow:hover {
    color: #4A90E2; 
}

/*Styling for Account Creation Page*/
.create-account-body {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: 0;
    height: 100vh;
}

.create-account-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center; 
    color: #D9D9D9; 
    margin: 0; 
    background-color: #361b59;
    width: 100%;
}

.create-account-forms {
    font-family: Arial, Helvetica, sans-serif;
    color: #D9D9D9;
    background-color: #434242;
    text-align: center;
    border-radius: 10px;
    height: 650px;
    width: 500px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.create-account-forms h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin: 0;
    padding: 15px;
    border-radius: 10px 10px 0 0; 
    margin-top: 15px;
}

.create-account-form-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.create-account-form-group {
    width: 100%;            
    text-align: left;      
    margin-bottom: 30px;   
}

.create-account-label {
    display: block;         
    margin-bottom: 5px;    
}

.create-account-input {
    width: 400px;            
    padding: 10px;         
    border-radius: 5px;   
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.create-account-button {
    width: 420px; 
    padding: 10px;
    border-radius: 5px;
    border: none; 
    background-color: #361b59;
    color: #D9D9D9; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 15px;
}

.create-account-button:hover {
    background-color: #512a84; 
}

.login-link {
    color: #4A90E2; 
    text-decoration: none; 
    margin-top: 10px; 
    font-size: 14px;
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.login-link:hover {
    color: #262626;
}
/*Portfolio Styling */
#portfolioBody {
    padding: 20px;
    min-height: 100vh; 
}

#total-portfolio-value {
    margin: 20px auto;
    width: 90%; 
    max-width: 1200px;
    color: #D9D9D9; 
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #505050;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: left;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; 
}

/* Table Header Styling */
th {
    background-color: #351B59; 
    color: #D9D9D9; 
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    padding: 10px; 
}

/* Table Row and Data Styling */
td {
    padding: 10px 12px;
    font-size: 13px;
    color: #D9D9D9; 
    text-align: left;
}

tr:nth-child(even) {
    background-color: #333333; 
}

tr:hover {
    background-color: #444444; 
}

td:nth-child(4), 
td:nth-child(5),
td:nth-child(3) {
    text-align: left;
}

td:nth-child(2), 
td:nth-child(3) {
    font-weight: bold;
}

/* Total Portfolio Value Header */
#total-portfolio-value h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #0cb400; 
    font-weight: bold; 
}

#total-portfolio-value h2 {
    color: #D9D9D9; 
}

#total-portfolio-value h2 {
    color: #0cb400; 
    font-weight: bold; 
}

/* Buy and Sell Text Colors */
.buy {
    color: green;
}

.sell {
    color: red;
}
